#body {
	font-family: Arial, sans-serif;
}
#app {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}
#taskInput {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 10px;
}
#addTaskButton {
	padding: 10px 20px;
}
#taskList {
    list-style-type: none;
    font-family: Arial, sans-serif;
    padding: 0;
}

#taskList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: Arial, sans-serif;
}
#prioritySelect {
    padding: 10px;
    margin-bottom: 10px;
}

.priority-1 { color: #009b00; } /* Pure Green */
.priority-2 { color: #2dbd2d; } /* Lime Green */
.priority-3 { color: #81bf23; } /* Green Yellow */
.priority-4 { color: #c7c700; } /* Yellow */
.priority-5 { color: #FFD700; } /* Gold */
.priority-6 { color: #FFA500; } /* Orange */
.priority-7 { color: #FF8C00; } /* Dark Orange */
.priority-8 { color: #FF4500; } /* Orange Red */
.priority-9 { color: #FF0000; } /* Red */
.priority-10 { color: #B22222; } /* Firebrick */

.task-buttons {
    float: right;
    margin-left: 10px;
}
.input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between elements as needed */
}

.priority-button {
    padding: 12px 12px; /* Add padding to make it look like a button */
    border-radius: 7px; /* Rounded corners */
    border: none;
    cursor: pointer;
    color: white; /* Text color */
    font-size: 14px; /* Font size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.priority-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

#dueDateInput {
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    border: 1px solid #ccc;
    font-size: 14px;
}